[Unit]
Description=Home dnsmasq service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop dnsmasq
ExecStartPre=-/usr/bin/docker rm dnsmasq
ExecStart=/usr/bin/docker run --rm --name dnsmasq --net=host --mount 'type=bind,source=/etc/dnsmasq,target=/config' sandcat/docker-dnsmasq:latest

[Install]
WantedBy=multi-user.target
